.confirmModal {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.confirmBody {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .6);
    margin: auto;
    padding: 20px;
    background-color: white;
    height: 63%;
}

.confirmDialog {
    width: 80vmin;
    margin-top: 5%;
}

@media screen and (max-width: 768px) {
    .confirmDialog {
        margin: auto;
    }
}
