.detailsModal {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.modal-dialog {
    width: 120vmin;
}

.modal-content {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .6);
    margin: auto;
    padding: 20px;
    background-color: white;
    height: 70vmin;
}

.modal-body {
    height: 82%;
}

.event-info{
    width: 40%;
    word-wrap: break-word;
}

#singleMap {
    height: 50vmin;
    width: 50%;
    border: 1px solid #428bca;
}

@media screen and (max-width: 768px) {
    .modal-dialog {
        width: 100%;
    }

    .modal-content {
        height: 100%;
    }

    #singleMap {
        height: 45vmin;
        width: 100%;
        border: 1px solid #428bca;
    }
}

