.detailsModal {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.modal-content {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .6);
    margin: auto;
    padding: 20px;
    background-color: white;
}

/* keyframe animation */
.expandDetails {
    display: block;
    animation: expandFind 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes expandDetails {
    0% {
        height: 0;
        width: 0;
    }
    50% {
        height: 0;
        width: 100%;
    }
    100% {
        height: 100%;
        width: 100%;
    }
}
  
.closeDetails {
    display: block;
    animation: closeFind 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes closeDetails {
    0% {
        height: 100%;
        width: 100%;
    }
    50% {
        height: 100%;
        width: 0;
    }
    100% {
        height: 0;
        width: 0;
        display: none;
    }
}