/* Main Page */
#landingPage {
    position: relative;
    height: 100vh;
}

.jumbotron {
    text-align: center;
}

/* Join and Create */
.join, .create {
    border: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.joinHeader, .createHeader {
    font-size: 3.5em;
    width: 80%;
    text-align: center;
    border-radius: 50px;
    display: block;
    position: absolute;
    top: 46%;
    margin: 10px 0;
}

/* Join */
.join > h1 {
    background: linear-gradient(to bottom right, pink, white);
}

.findEvent {
    position: relative;
    margin-top: 10%;
    height: 0;
    width: 0;
    border: 1px solid black;
    display: block;
    overflow: hidden;
}

/* Create */
.create > h1 {
    background: linear-gradient(to bottom left, orange, white);
}

.createEvent {
    position: relative;
    margin-top: 10%;
    height: 0;
    width: 0;
    border: 1px solid black;
    display: block;
    overflow: hidden;
}

/* animation */
.moveHeaderUp {
    top: 0;
    transition: top 1.5s ease;
}

.moveHeaderDown {
    top: 46%;
    transition: top 3s ease;
}

/* animation JOIN */
.animateExpandFind {
    animation: expandFind 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes expandFind {
    0% {
        height: 0;
        width: 0;
    }
    50% {
        height: 0;
        width: 100%;
    }
    100% {
        height: 90vh;
        width: 100%;
    }
}
  
.animateCloseFind {
    animation: closeFind 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes closeFind {
    0% {
        height: 90vh;
        width: 100%;
    }
    50% {
        height: 90vh;
        width: 0;
    }
    100% {
        height: 0;
        width: 0;
    }
}

/* animation CREATE */
.animateExpandCreate {
    animation: expandCreate 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes expandCreate {
    0% {
        height: 0;
        width: 0;
    }
    50% {
        height: 0;
        width: 100%;
    }
    100% {
        height: 90vh;
        width: 100%;
    }
}
  
.animateCloseCreate {
    animation: closeCreate 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes closeCreate {
    0% {
        height: 90vh;
        width: 100%;
    }
    50% {
        height: 90vh;
        width: 0;
    }
    100% {
        height: 0;
        width: 0;
    }
}