/* navbar */
/* make navbar mobile responsive */
.navbar {
    margin: 0;
}

.leftUl li, .rightUl li {
    padding: 5% 0 0 3%;
}

.rightUl, .leftUl {
    padding: 0 0 0 5%;
}

.mouseHeader {
    color: whitesmoke;
    text-shadow: -1px 0px 1px rgba(255,255,255,.8), 2px 0px 2px rgba(0,0,0,1);
    text-decoration: line-through;
}

.mouseHeader:hover {
    color: black;
    text-shadow: -1px 0px 1px rgba(255,255,255,.8);
}

.headerName {
    text-align: center;
    letter-spacing: 10px;
}

/* app name - randomness */
.letter{
    display: inline-block;
    font-weight: 900;
    font-size: 2.5em;
    margin: 0.2em;
    position: relative;
    color: lightcoral;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
  }

.letter:before, .letter:after {
    position:absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
}

.letter, .letter:before, .letter:after {
    transition: all 0.2s ease-in-out;
}

.letter:before {
    color: white;
    text-shadow: -1px 0px 1px rgba(255,255,255,.8), 1px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}

.letter:after {
    color: rgba(0,0,0,.11);
    z-index:2;
    transform: scale(1.08,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,1deg);
}

.letter:hover:before {
    color: whitesmoke;
    transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}

.letter:hover:after {
    transform: scale(1.08,1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg,22deg);
}

/* Main Page */
#landingPage {
    position: relative;
    background-color: lightgray;
    height: 75vmin;
}

/* jumbotron */
.jumbotron {
    margin: 0;
    opacity: .7;
    text-align: center;
    background-image: url('./images/open_book.png');
    background-size: contain;
    background-position: 50% 50%;
}

/* jumpbotron */
.jumbotron > h2 {
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    background-size: 150px;
    -webkit-background-size: 150px;
    color: rgba(104, 169, 196, 0.228);
    background-clip: text;
	-webkit-background-clip: text;
	animation: shine 2s infinite;
	text-shadow: 0 0px 0px rgba(104, 169, 196, 0.228);
}

@keyframes shine {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 100%;
	}
}

/* Join and Create */
.join, .create {
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.joinHeader, .createHeader {
    font-size: 3.5em;
    width: 80%;
    text-align: center;
    border-radius: 50px;
    display: block;
    position: absolute;
    top: 46%;
    margin: 10px 0;
}

/* Join */
.join > h1 {
    background: linear-gradient(to bottom right, pink, white);
}

.findEvent {
    position: relative;
    margin-top: 10%;
    height: 0;
    width: 0;
    border: 1px solid black;
    display: block;
    overflow: hidden;
}

.filter {
    width: 100%;
    height: 20%;
    padding-left: 15%;
}

.filterSubject {
    padding: 3%;
}

.map {
    height: 75%;
    width: 100%;
}

.map > img {
    height: 100%;
    width: 100%;
}

/* Create */
.create > h1 {
    background: linear-gradient(to bottom left, darkcyan, white);
}

.createEvent {
    position: relative;
    margin-top: 10%;
    height: 0;
    width: 0;
    border: 1px solid black;
    display: block;
    overflow: hidden;
}

.inputArea {
    text-align: center;
}

/* animation */
.moveHeaderUp {
    top: 0;
    transition: top 1.5s ease;
}

.moveHeaderDown {
    top: 46%;
    transition: top 3s ease;
}

/* animation JOIN */
.animateExpandFind {
    animation: expandFind 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes expandFind {
    0% {
        height: 0;
        width: 0;
    }
    50% {
        height: 0;
        width: 100%;
    }
    100% {
        height: 65vmin;
        width: 100%;
    }
}
  
.animateCloseFind {
    animation: closeFind 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes closeFind {
    0% {
        height: 65vmin;
        width: 100%;
    }
    50% {
        height: 65vmin;
        width: 0;
    }
    100% {
        height: 0;
        width: 0;
    }
}

/* animation CREATE */
.animateExpandCreate {
    animation: expandCreate 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes expandCreate {
    0% {
        height: 0;
        width: 0;
    }
    50% {
        height: 0;
        width: 100%;
    }
    100% {
        height: 65vmin;
        width: 100%;
    }
}
  
.animateCloseCreate {
    animation: closeCreate 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes closeCreate {
    0% {
        height: 65vmin;
        width: 100%;
    }
    50% {
        height: 65vmin;
        width: 0;
    }
    100% {
        height: 0;
        width: 0;
    }
}

/* media queries */
