.findEvent {
    position: relative;
    margin-top: 1%;
    height: 0;
    width: 0;
    border: 1px solid black;
    overflow: hidden;
    overflow-y: auto;
    display: none;
}

.filterContainer {
    padding-top: 1%;
}

.filterContainer > h3{
    text-align: center;
}

.filter > form {
    height: 100%;
}

.formFilter > h3,.zipInput {
    margin: 0;
}

.filterCheck {
    padding-left: 5%;
}

/* .map {
    height: 75%;
    width: 100%;
    background-color: lightpink;
} */

.list > h3 {
    text-align: center;
}
