.createContainer {
    padding-right: 0;
    height: 100%;
    position: relative;
}

.create {
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.createHeader {
    font-size: 3.5em;
    width: 80%;
    text-align: center;
    border-radius: 50px;
    display: block;
    margin: auto;
    background: linear-gradient(to bottom left, darkcyan, white);
}
