.createEvent {
    position: relative;
}

.mapView {
    width: 100%;
    height: 100%;
    background-color: pink;
}

.createMap {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.locationForm {
    height: 100%;
    width: 100%;
}

.locationFormComp:first-child {
    padding-top: 1%;
}

.locationFormComp {
    height: 50vmin;
    margin-top: 1%;
}

.form-group {
    margin: 2% 0;
}

.bottons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* keyframe animation */
/* .animateExpandCreate {
    display: block;
    animation: expandCreate 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes expandCreate {
    0% {
        height: 0;
        width: 0;
    }
    50% {
        height: 0;
        width: 100%;
    }
    100% {
        height: 68vmin;
        width: 100%;
    }
}
  
.animateCloseCreate {
    display: block;
    animation: closeCreate 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes closeCreate {
    0% {
        height: 68vmin;
        width: 100%;
    }
    50% {
        height: 68vmin;
        width: 0;
    }
    100% {
        height: 0;
        width: 0;
        display: none;
    }
} */