.jumbotron {
    margin: 0;
    opacity: .7;
    text-align: center;
    background-image: url('../assets/images/open_book.png');
    background-size: contain;
    background-position: 50% 50%;
}

.jumbotron > h2 {
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    background-size: 150px;
    -webkit-background-size: 150px;
    color: rgba(104, 169, 196, 0.228);
    background-clip: text;
	-webkit-background-clip: text;
	animation: shine 2s infinite;
	text-shadow: 0 0px 0px rgba(104, 169, 196, 0.228);
}

@keyframes shine {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 100%;
	}
}