.navbar {
    width: 100%;
    margin: 0;
}

.leftNav li, .rightNav li {
    padding: 5% 0 0 3%;
}

.rightNav {
    padding: 0 0 0 5%;
}

/* .mouseHeader {
    color: whitesmoke;
    text-shadow: -1px 0px 1px rgba(255,255,255,.8), 2px 0px 2px rgba(0,0,0,1);
    text-decoration: line-through;
}

.mouseHeader:hover {
    color: black;
    text-shadow: -1px 0px 1px rgba(255,255,255,.8);
} */

.headerName {
    text-align: center;
    letter-spacing: 10px;
}

/* app name - randomness */
.letter{
    display: inline-block;
    font-weight: 900;
    font-size: 2.5em;
    margin: 0.2em;
    position: relative;
    color: lightcoral;
    transform-style: preserve-3d;
    perspective: 400px;
    z-index: 1;
}

.letter:before, .letter:after {
    position: absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top: 0;
    left: 0;
}

.letter, .letter:before, .letter:after {
    transition: all 0.2s ease-in-out;
}

/* .letter:before {
    color: white;
    text-shadow: -1px 0px 1px rgba(255,255,255,.8), 1px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
} */

/* .letter:after {
    color: rgba(0,0,0,.11);
    z-index:2;
    transform: scale(1.08,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,1deg);
} */

.letter:before { /*hover */
    color: whitesmoke;
    transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
    text-shadow: -1px 0px 1px rgba(255,255,255,.8), 1px 0px 1px rgba(0,0,0,.8); /* delete if using hover */
    z-index: 3; /* delete if using hover */
}

.letter:after { /* hover */
    transform: scale(1.08,1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg,22deg);
    color: rgba(0,0,0,.11); /* delete if using hover */
    z-index: 2; /* delete if using hover */
}